<div class="container mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" class="form-control" id="username" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
        El nombre de usuario es obligatorio (mínimo 4 caracteres).
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
        La contraseña es obligatoria (mínimo 4 caracteres).
      </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Ingresar</button>
  </form>
</div>
